body {
    height: 100%;
    font-weight: 100;
    font-size: 1.5 rem;
    color: #444;
}

.headshot {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.intro {
    position: relative;
    left: 0;
    width: 33.33%;
    height: 100%;
    background-color: rgb(12, 162, 162);
}