body {
    height: 100%;
    font-weight: 100;
    font-size: 1.5 rem;
    color: #444;
}

.headshot {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 1rem;
}

.name-title {
    position: fixed;
    left: 0;
    width: 33.33%;
    height: 100%;
    background-color: rgb(12, 162, 162);
}

.full-height {
    height: 100%;
}

section {
    margin: 5rem;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .name-title{
        height: 30vh;
        margin-bottom: 0;
        position: relative;
        width: 100%;
    }
}